# General dependencies
pip==23.3.2
wheel
PyYAML
ffmpeg-python
numpy
requests
tqdm
wget

# Audio processing
# pip==23.3.2
faiss-cpu
librosa
pyworld
scipy
soundfile
praat-parselmouth
noisereduce
audio_upscaler

# Machine learning
# pip==23.3.2
omegaconf
fairseq
numba
# torchaudio
# torch
torchcrepe
# torchvision
einops 
libf0 
torchfcpe

# Visualization
# pip==23.3.2
matplotlib
tensorboard
gradio

# Miscellaneous
# pip==23.3.2
certifi
antlr4-python3-runtime
ffmpy
tensorboardX
edge-tts
pypresence
beautifulsoup4
flask
local-attention
soundfile
